//Variables
$color-primary: #1F7A8C;
$color-primary-light: #B1F8F2;
$color-primary-dark: #7E6B8F;

$color-grey-dark-1: #777;

$color-white: #fff;
$color-black: #000;

$color-mist: #D5CAD6;
//FONT
$default-font-size: 1.6rem;