//Variables
$color-primary: #4361ee;
$color-primary-light: #4895ef;
$color-primary-dark: #3a0ca3;

$color-grey-dark-1: #777;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;