//Variables
// $color-primary: #5e60ce;
// $color-primary-light: #5390d9;
// $color-primary-dark: #6930c3;

// $color-secondary-light: #ff9e74;
// $color-secondary-dark: #a34e2a;

// $color-tertiary-light: #43aa8b;
// $color-tertiary-dark: rgb(69, 85, 80);

$color-primary: #4d194d;
// $color-primary-light: #80b192;
// $color-primary-dark: #4b4e6d;

$color-primary-light: #006466;
$color-primary-dark: #4d194d;


$color-secondary-dark: #144552;
$color-secondary-light: #272640;

$color-tertiary-light: #4d194d;
$color-tertiary-dark: #272640;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-white: #fff;
$color-black: #000;

$color-mist: #d5cad6;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
