.section-dashboard {
    background-color: $color-primary;
    padding: 25rem 0;
    //calculated from missing triangle on header
    margin-top: -20vh;
}

.dashboard {
    background-color: $color-grey-light-2;
    padding: 25rem 0;
    //calculated from missing triangle on header
    margin-top: -20vh;
    width: 100%;
    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }
}