.section-dashboard {
    background-color: $color-primary;
    padding: 25rem 0;
    //calculated from missing triangle on header
    margin-top: -20vh;
}

.dashboard {
    background-color: $color-grey-light-2;
    padding: 25rem 0;
    //calculated from missing triangle on header
    margin-top: -20vh;
    width: 100%;
    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }

    &__nav {
        padding: 2rem;

        &-heading {
            font-size: 2.8rem;
            font-weight: 500;
            text-transform: uppercase;
            text-align: left;
        }


        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
    
            li {
                text-align: left;
                font-size: 2rem;
                padding: 1rem;
    
                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-dark-2;
                }
            }
        }
    }
}