.section-dashboard {
    background-color: $color-primary;
    padding: 30rem 0;
    //calculated from missing triangle on header
    margin-top: -1vh;
}

.dashboard {
    background-color: $color-grey-light-2;
    padding: 14rem 0;
    //calculated from missing triangle on header
    margin-top: -25vh;
    width: 100%;
    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }

    &__nav {
        background-color: rgba($color-white, .8);
        padding: 2rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        border-radius: 3px;

        &-heading {
            font-size: 2.8rem;
            font-weight: 500;
            text-transform: uppercase;
            text-align: left;
        }


        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
    
            li {
                text-align: left;
                font-size: 2rem;
                padding: 1rem;
    
                &:hover,
                &:active {
                    cursor: pointer;
                    color: $color-primary;
                    box-shadow: 0 1rem 2rem rgba($color-black, .4);
                }

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-dark-2;
                }
            }
        }
    }

    &__user {
        background-color: rgba($color-white, .8);
        border-radius: 3px;
        
        height: 25rem;
        text-align: center;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &-heading {
            padding-top: 2rem;
            font-size: 2rem;
            font-weight: 500;
            text-transform: uppercase;
 
        }

        &-img {
            margin-top: 2rem;
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
        }
    }

    &__utilities {
        background-color: rgba($color-white, .8);
        font-size: 1.5rem;
        padding: 2.5rem;
        text-align: center;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    }

    &__save-card {
        &--attach {
            padding: 1rem;
        }

        &--payments {
            margin-top: 10rem;
        }
    }
}