.card {
    //FUNCTIONALITY
    perspective: 150rem;
    //same as perspective in firefox
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;

    &__side {
        
        height: 52rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-color: $color-white;
        }

        
    }
}